:root{
  --azul: #506d8b;
}

*{
  box-sizing: border-box;
}

/* NAV HEADER */
#selected{
  font-weight: bolder;
}

/* CARROUSEL */
.carousel-item {
    height: 100vh;
    min-height: 350px;
    margin: auto auto;
    background: no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
#carr1{
  object-fit:none;  
}
#carr2{
  object-fit: contain;
}


/* CONTACTO */
form{
  margin-top: 150px;
  padding: 50px;
  width: 70%;
  margin: auto;
  max-width: 750px;
  color: white;
}
#mainContactoFondo{
  background-color: var(--azul); 
}
#gatita{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 15em;
}
/* NOTICIAS */
.cajitaCard{
  background-color: white;
  width: 350px;
  padding: 0 1em;
  
}
#fondoNoticias{
  background-color: var(--azul);
}

#gridNoticias{
  margin-top: 30px;  
}
.col{
  margin-top: 90px;
  display: flex;
  flex-direction: column; 
}
.imgNoticias{
  width: 350px;  
  box-shadow: 2px 2px 30px 2px grey;
}
.cadaNota{
  max-width: 280px;
}
.nuevoLibro{
  font-size: 0.7em;
  color: #506d8b;  
}

h5{
  padding-top: 10px;
  padding-bottom: 5px;  
  height: auto;
  max-width: 350px;
  word-wrap: break-word; 
}

/* MUSICA */
#mainMusica{
  padding-top: 6em;
  box-sizing: border-box;
  background-color: var(--azul);
}
#contenedorMusica {
  background-color: white;
  width: 60%;
  margin: 30px auto -90px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  box-sizing: border-box;
}
#parrafoMusica {
  padding: 1.5em 3em;
  max-width: 55em;
}
.fotoDisco{
  max-width: 300px;
  padding-top: 1.5em;
}
#videos{
  padding: 1.5em 0.5em;
  max-width: 65em;
  display: flex;
  flex-wrap: wrap;
  justify-content:center ;
}
#video1, #video2 {
  padding: 1.5em 0.5em;
}
.fotosVivo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.fotoMusica{
  max-width: 18em;
}


/* TRABAJOS */
#fondoTrabajos {
  background-color: var(--azul);
}
#contTrabajos{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

#contTrabajos :last-child{
  margin-bottom: 20px;
}

.imagenTrabajos{
  margin: 20px auto;
  max-width: 75vw;
  padding:50px;
}


/* BIO */

#fondoBio{
  background-color: var(--azul);
  padding-top:8em;
}
#cajitaBlancaBio{
  background-color: white;
  margin: 0 7%; 
}

#bio{
  max-width: 700px;
  text-align: left;
  margin: 0 auto;
  padding: 30px;
}
#bioTotal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#fotoMax{
  margin-top: 100px;
}
#contFotoEscritorio{
  display: flex;
  justify-content: center;
}

/* RESPONSIVE */
/* celular */
 @media screen and (max-width: 768px) {
  .carousel-item {
    height: 100vh;
    min-height: 350px;
    margin: auto auto;
    background: no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain; 
   }
   #bodyIndex{
    background-color: #506d8b;
   }
   #carr3{
    right:-100px;
   }
   #bio{
    max-width: 450px;
   }
  .col{
    align-items: center;
  } 
 #fotoMax{
  width: 100%;
}
#fotoMaxEscritorio{
  width:150%;
}
.imagenTrabajos{
  margin-bottom: -5em;
}
#ultimoTrabajo{
  margin: 1.5em;
}
}
 
/* tablet */
@media screen and (max-width: 1440px) and (min-width: 768px){
  .carousel-item {
    height: 100vh;
    min-height: 350px;
    margin: auto auto;
    background: no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain; 
   }
  
  .carousel-inner{
    background-color: #506d8b;
  }
  #carr2{
    top:60px;
  }
  #carr1{
    top:50px;
  } 
  .col{
    align-items: center;
  } 
}
 
/* pc escritorio */
@media screen and (min-width: 1440px){
 .carousel-item {
  height: 100vh;
  min-height: 350px;
  margin: auto auto;
  background: no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain; 
}
.carousel-inner{
  background-color: #506d8b;
}
#carr2{
  top:80px;
}
#carr1{
  top:30px;
}
.fotoMusica, #video1, #video2{
  max-width: 25em;  
}

}