:root{
  --azul: #506d8b;
}



/* CARROUSEL */
.carousel-item {
    height: 100vh;
    min-height: 350px;
    margin: auto auto;
    background: no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
#carr1{
  object-fit:none;
  
}
#carr2{
  object-fit: contain;
}


/* CONTACTO */
form{
  margin-top: 150px;
  padding: 50px;
  width: 70%;
  margin: auto;
  max-width: 750px;
  color: white;
}

#mainContactoFondo{
  background-color: var(--azul);
  
}
/* NOTICIAS */

#gridNoticias{
  margin-top: 30px;  
}

.col{
  margin-top: 90px;
}


.imgNoticias{
  width: 350px;  
  box-shadow: 2px 2px 30px 2px grey;
}

.cadaNota{
  max-width: 300px;
  
}

.nuevoLibro{
  font-size: 0.7em;
  color: #506d8b;  
}

h5{
  padding-top: 10px;
  padding-bottom: 5px;
  
  height: auto;
  max-width: 350px;
  word-wrap: break-word;
  
}




/* MUSICA */

#contenedorMusica{
  
  background-color: white;
  width: 65%;
  margin: 110px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  box-sizing: border-box;
}

#contenedorMusica section{
  margin-bottom: 100px;
}
#reproductor, #parrafoMusica, #videos{
margin: 20px;
max-width: 450px;
min-width: 340px;
}

#videos, .fotosDeDiscos, #fotosVivo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex:1;
}
 .fotoDisco{
  max-width: 450px;
 }

.fotoMusica{
  max-width: 450px;
  
  
}

#dejarEspacio{
  margin-bottom: 50px;
}

/* TRABAJOS */


#contTrabajos{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.imagenTrabajos{
  max-width: 100vw;
  padding:50px;
}

/* BIO */
#bio{
  max-width: 700px;
  text-align: left;
  margin: 0 auto;
  padding: 30px;
}
#bioTotal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#fotoMax{
  margin-top: 100px;
}

/* RESPONSIVE */

/* celular */
 @media screen and (max-width: 768px) {
  .carousel-item {
    height: 100vh;
    min-height: 350px;
    margin: auto auto;
    background: no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain; 
   }
   #bodyIndex{
    background-color: #506d8b;
   }
   #carr3{
    right:-100px;
   }
   #bio{
    max-width: 450px;
   }

  }
 
/* tablet */
@media screen and (max-width: 1440px) and (min-width: 768px){
  .carousel-item {
    height: 100vh;
    min-height: 350px;
    margin: auto auto;
    background: no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain; 
   }
  
  .carousel-inner{
    background-color: #506d8b;
  }
  #carr2{
    top:60px;
  }
  #carr1{
    top:50px;
  }
  
}

 
 
/* pc escritorio */
@media screen and (min-width: 1440px){
 /* trabajos */
 .carousel-item {
  height: 100vh;
  min-height: 350px;
  margin: auto auto;
  background: no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain; 
 }

.carousel-inner{
  background-color: #506d8b;
}
#carr2{
  top:80px;
}
#carr1{
  top:30px;
}
}